<html lang="en-us"><head>
    <title>Registro</title>
    </head>    
    <body class=" login" data-admin-utc-offset="3600">
    
    <!-- Container -->
    <div id="container">

        <!-- Header -->
        <div id="header">
            <div id="branding">
            
    <h1 id="site-name"><a href="/register/">Registro</a></h1>
    
            </div>
          
        </div>
        <!-- END Header -->
        <!-- Content -->
        <div id="content" class="colM">

    <div id="content-main">
    
    
    
    <form action="index.html" d="post" id="nuevo_usuario"><input type="hidden" name="csrfmiddlewaretoken" value="7OBjjgpthaLALbTtfcQP9kA4M8ctIdfKFFc7mC8ZBmraBz5OnpZP7uw2FsZJet21">
      <div class="form-row">
        
        <label class="required" for="username">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="username">
      </div>
      <div class="form-row">
        
        <label class="required" for="password">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="password">
      </div>
      
      <div class="form-row">
        
        <label class="required" for='email'>eMail:</label> <input type="email" name="email" autofocus="" autocapitalize="none" autocomplete="email" maxlength="150" required="" id="email">
      </div>
      
      <div class="submit-row">
        <label>&nbsp;</label><input type="submit" value="Registrarse">
      </div>
    </form>
    
    </div>
    
            
            <br class="clear">
        </div>
    </body></html>